@if (Session["employeeId"] != null)
{
    @Html.ActionLink("Logout", "Logout", "Admin")
}
else if (Session["studentNumber"] != null)
{
    @Html.ActionLink("Logout", "Logout", "Vote")
}
else
{
    <li>@Html.ActionLink("Admin", "Login", "Admin")</li>
    <li>@Html.ActionLink("Vote", "Login", "Student")</li>
}



