@model UVote.Models.ContactModel
@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>How to Vote Online</h1>
    <p>
        UVote is an online voting system implemented by Dublin Business School expressly for the
        joy of saving trees.
    </p><br />
    <div class="row">
        <div class="col-lg-4">
            <img src="~/Content/Images/SaveTrees.png" class="img-rounded">
        </div>

    </div>

    <p>
        No paper shall be wasted in the name of voting in your favourite candidate for the role
        of a lifetime. No effort shall be spared to ensure that you experience the ease and simplicity
        and pure undiluted joy of voting online.
    </p><br />
    <p>
        The process couldn’t be simpler! Just log in with your student number, choose the campaign you
        wish to vote in, and select your preferred candidate.
    </p><br />
    <p>
        Any issues, please refer to our FAQ page.
    </p><br />
    <p>
        Happy Voting!
    </p><br />
    <p>
      @Html.ActionLink("FAQ", "FAQ", "Home", new { @class = "btn btn-info btn-lg" })
    </p>
    
    
</div>

