@model UVote.Models.ContactModel
@{
    ViewBag.Title = "FAQ";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FAQ?</title>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $(".answer").hide();
            $(".question").click(function () {
                $(this).next("p").slideToggle(500);
            });

        });
    </script>

</head>
<body>
    <div>
        <div id="main">
            <div id="main-col">
                <h2> FAQ </h2>

                <div id="accordion">
                    <h3 class="question">Q1.How can I vote online ?</h3>
                    <p class="answer">You can use your student ID and login password to vote online.</p>

                    <h3 class="question">Q2. What are the voting times?</h3>
                    <p class="answer">Online voting will be open between spedified dates for each voting campaign </p>

                    <h3 class="question">Q3. What sort of security measures are in place?</h3>
                    <p class="answer">All students have their own login Id and password.</p>

                    <h3 class="question">Q4. Where do I go to vote?</h3>
                    <p class="answer">
                        You can go directly to the voting website at: www.uvote.com. You can use your mobile phone or any 
                        computer/laptop connected to the internet and
                        running a standard web browser (eg. Edge, Chrome or Firefox). They will be able to display the voting website.
                    </p>


                    <h3 class="question">Q5. How do I know my vote has been counted?</h3>
                    <p class="answer">
                        Once you submit your vote, you will receive a  message saying "Success! Thanks for voting".
                        This means your vote has been recorded and you will be redirected to the results page.
                    </p>

                    <h3 class="question">Q6. What if the system says my student ID has already voted?</h3>
                    <p class="answer">
                        An individual Student ID can only vote once. If the system states that your Student ID
                        has already voted, please email us at: info@uvote.com.
                        We will get back to you as soon as possible.
                    </p>

                    <h3 class="question">
                        Q7. Can I change my vote during the voting process or after I have submitted my vote?
                       
                    </h3>
                    <p class="answer"> Once you submit the ballot, it is final. 
                    No changes can be made after you have pressed the submit button</p>

                    <h3 class="question">Q8. For elections, how do I find the candidates?</h3>
                    <p class="answer">When you click on a candidate poster, a list of candidates will 
                    be displayed with their details, manifestos and the campaign they are running for.</p>

                    <h3 class="question">Q9. Can I vote for more than one person in one campaign?</h3>
                    <p class="answer">No, you cannot vote more than once in the same campaign. 
                    You may vote for the same person if they are running in two separate concurrent campaigns,
                    but you can only vote once for each role.</p>

                    <h3 class="question">Q10. How long is the office term for the candidates?</h3>
                    <p class="answer">The different roles vary. It is best to check each campaign prior to voting. 
                    </p>

                </div>
            </div>
        </div>
    </div>
</body>
</html>

