
@{
    ViewBag.Title = "Index";
}

<!--Home Index-->
<div class="jumbotron">
    <h1>Welcome to UVote!</h1>
    <p>
        If you want to vote in the student elections you have arrived at the right place!
        No more standing in line and showing ID; all it takes is two minutes of your precious time
        and then you can return to procrastinating over your assignments, eating unhealthy food and generally
        doing anything other than studying. That's what you're here for.
    </p>

    <p>
        @Html.ActionLink("Learn More", "About", "Home", new { @class = "btn btn-info btn-lg" })
    </p>
</div>


<!--
<div class="row">
    <div class="col-md-4"><img class="center-block" src="voteBlueButtons.png" 
                               alt="Vote Spelled on keyboard buttons"></div>
</div>
    -->


<div class="img-thumbnail">

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Content/Images/voteBlueButtons.png" alt="Vote Spelled on keyboard buttons">
                <div class="caption">
                    <h3>Voting is your Right!</h3>
                    <p>Elections are run every year for Student Pody president and Secretary.
                    Terms can run from semester to semester for some roles within the Student Union. Positions 
                    include: Student Union President, Activities Co-ordinator, Administrator, Financial officer and
                    plenty of helper roles.
                    </p>

                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Content/Images/handBallotBlue.png" alt="Hand Ballot">
                <div class="caption">
                    <h3>Nominations Open!</h3>
                    <p>If you are interested in nominating yourself or someone you know for a role in either
                    the Student Body Elections or the Student Union Elections for the next term, please contact
                    us with your name, student number and the campaign and role you are intereseted in:
                     info@uvote.com All you need is enthusiasm!</p>

                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Content/Images/electronicVotingBlueButton.png" alt="Electronic Voting Button">
                <div class="caption">
                    <h3>Online Voting is here to Stay!</h3>
                    <p>Students last year voted to reduce paper waste in the college and so the idea for UVote
                    online was born. If you have any ideas for improving our
                    online voting system, please don't hesitate to let us know. Our ears are always open! info@uvote.com
                    </p>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="imgwrapper">
    <div class="row">
        <div class="col-lg-1">
            <img src="~/Content/Images/ColouredHandsBanner.jpg" alt="Hands Banner" class="img-responsive"  />
        </div>
    </div>
    </div>


    
